header  {
    width: 1200px;
    height: 700px;
}
header img  {
    width: 1200px;
    height: 700px;     
    overflow: hidden;
}

header h1 {
    color: white;
    text-align: center;

}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}