body {
  margin: 5px 15%;
}

ul, p, ol {
  font-size: 1.2em;
}

hr {
  margin: 0 50px;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  margin: 30px 50px;
}

img {
  width: 40%;
}

 /* Intro */

#intro {
  text-align: center;
}

#intro h2 {
  margin: 60px 50px;
  text-align: justify;
  font-weight: 400;
}

.banner {
  background-image: url(/apple-pie/images/apple-pie.jpg);
  background-size: cover;
  height: auto;
  padding: 175px;
  background-position: center;
}

.banner-container {
  margin: 40px auto;
  width: 600px;
}

.banner-info {
  margin: 20px;
}

.banner-info h1 {
  color: white;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
}

/* Ingredients */

#ingredients ul > li  {
 list-style-type: '- ';
}

#ingredients img {
  margin: 0 300px;
}

#ingredients ul {
  padding-inline-start: 70px;
}

/* Directions */

#directions ol {
  counter-reset: list;
  padding-inline-end: 35px;
  padding-inline-start: 60px;
}
#directions ol li {
  list-style: none;
}
#directions ol li:before {
  content: counter(list, decimal) ") ";
  counter-increment: list;
}